absl-py==0.4.0
annoy==1.12.0
appnope==0.1.0
astor==0.7.1
backcall==0.1.0
bleach==3.1.4
cachetools==2.1.0
certifi==2018.8.13
chardet==3.0.4
cymem==1.31.2
cytoolz==0.9.0.1
dask==0.18.2
decorator==4.3.0
dill==0.2.8.2
entrypoints==0.2.3
ftfy==4.4.3
gast==0.2.0
grpcio==1.14.1
h5py==2.8.0
html5lib==1.0.1
idna==2.7
ijson==2.3
ipykernel==4.8.2
ipython==6.5.0
ipython-genutils==0.2.0
ipywidgets==7.4.0
jedi==0.12.1
Jinja2==2.10
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.2.3
jupyter-console==5.2.0
jupyter-core==4.4.0
Keras==2.2.2
Keras-Applications==1.0.4
Keras-Preprocessing==1.0.2
ktext==0.33
Markdown==2.6.11
MarkupSafe==1.0
mistune==0.8.3
more-itertools==4.3.0
msgpack==0.5.6
msgpack-numpy==0.4.3.1
multiprocess==0.70.6.1
murmurhash==0.28.0
nbconvert==5.3.1
nbformat==4.4.0
networkx==2.1
notebook==5.6.0
numpy==1.14.5
pandas==0.23.4
pandocfilters==1.4.2
parso==0.3.1
pathos==0.2.2.1
pexpect==4.6.0
pickleshare==0.7.4
plac==0.9.6
pox==0.2.4
ppft==1.6.4.8
preshed==1.0.1
prometheus-client==0.3.1
prompt-toolkit==1.0.15
protobuf==3.6.1
ptyprocess==0.6.0
pyarrow==0.10.0
pyemd==0.5.1
Pygments==2.2.0
Pyphen==0.9.4
python-dateutil==2.7.3
python-Levenshtein==0.12.0
pytz==2018.5
PyYAML==3.13
pyzmq==17.1.2
qtconsole==4.4.1
regex==2017.4.5
requests==2.19.1
scikit-learn==0.19.2
scipy==1.1.0
Send2Trash==1.5.0
simplegeneric==0.8.1
six==1.11.0
spacy==2.0.12
tensorboard==1.10.0
tensorflow==1.10.0
termcolor==1.1.0
terminado==0.8.1
testpath==0.3.1
textacy==0.6.2
thinc==6.10.3
toolz==0.9.0
tornado==5.1
tqdm==4.25.0
traitlets==4.3.2
ujson==1.35
Unidecode==1.0.22
urllib3==1.23
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.14.1
widgetsnbextension==3.4.0
wrapt==1.10.11
